/* styles.module.css */

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Arial', sans-serif;
}

.logo svg {
  height: auto;
  display: block;
}

.small svg {
  width: 100px;
}

.medium svg {
  width: 120px;
}

.large svg {
  width: 200px;
}
